
/*for adapting */
body{
	min-width: 320px;
	
}
/*to avoid images,textareas and others to overflow*/
img, table, td, blockquote, code, pre, textarea, input, iframe,
object, embed, video {
	max-width: 100%;
}
@media (max-width: 150px){
	body{
		display: none;
	}
}

@media (min-width: 151px) and (max-width: 298px){

	body{
		width: 320px;
		background-color:#c1c1c1;
		padding-top: 50px;
		margin-left:-30px;
		font-size: 13px;
		overflow-x: hidden;
	}
	.fixed-top{
		width: 320px;
	}
	#ptMenu{
		right: 0;
	}
	textarea#p-content-text{
		height: 20px;
		font-family: normal;
	}
	
	#smartchat-templates{
		display: none;
	}
	/*all about the navbar*/
		/*all about the navbar*/
	.container{
		padding-right: 4px;
	}
	.u-xs-options{
		padding-left: 8px;
		cursor: pointer;
		font-weight: bold;
	}
	.mobx-nav-list{
	    color: #b77fca;
	    font-size: 13px;
	    cursor: pointer;
	}
	#psearch{
		display: none;
	}
	.navbar-toggle{
		display: none;
	}

	.navbar-inverse .navbar-brand{
		font-size: 15px;
	    margin-left: -13px;
	    margin-top: -5px;
	    margin-bottom: -35px;

	}
	/*all about the navbar*/
	/*all about the navbar*/
	#left-p{
		display: none;
	}
	.p-int .p-interaction {
		font-size: 10px;
		width: 55px;
	}
	span.p-interaction.p-comment {
    	width: 75px;
	}
	span.p-interaction.p-star{
		width: 65px;
	}
	span.p-interaction.p-share {
    	width: 61px;
	}

	input.msgSender{
		width: 200px;
	}
	.msg-header{
		width: 216px;
	}
	.msg-box-error{
		padding: 0;
		margin: 0;
		width: 150px;
	}
	span.dated{
		font-size: 11px;
	}
	.tags a{
		font-size: 11px;
	}
	.users-comments{
		padding:4px;
	}
	.users-comments .u-name{
		font-size: 10px;
	}
	.users-comments .comment-texts{
		font-size: 10px;
	}
	.msgs-lists{
		width: 216px;
	}
	#about{
		height: 40px;
	}

	
	#back{
		width: 216px;
	}
	.img{
		padding-left:40px;
		padding-top: 18px;
	}
	.container-customized{
		min-width: 151px;
		max-width: 298px;
	}
	#main-p{
		background-color:#eae7e7;
		width:230px;
		padding-left:4px;
		border-radius: 0px;
	}
	.right-menu{
		display: none;
		padding-left: 15px;
		width:250px;
		position: absolute;
		opacity: 0.8;
		margin-top: -30px;
	}
	#post-infos{	
		width: 216px;
		font-size: 11px;
	}
	.s-img{
		width: 208px;
	}
	.r-imgs{
		width: 208px;
	}
	.post-images {
		padding: 2px;
		width: 230px;
		text-align: center;
	}


	#IV-Post-imgs-left .r-imgs:nth-child(odd){
		border-radius:8px 8px 0px 0px; 
	}
	#IV-Post-imgs-left .r-imgs:nth-child(even){
		border-radius:0px; 
	}
	#IV-Post-imgs-right .r-imgs:nth-child(odd){
		border-radius:0px; 
	}
	#IV-Post-imgs-right .r-imgs:nth-child(even){
		border-radius:0px 0px 8px 8px; 
	}
	/*3 images*/
	.r-post-imgs-right .r-imgs{

		width: 207px;	
		height: 215px;
	}
	.r-post-imgs-left .r-imgs {
	    width: 207px;
	    height: 217px;
	    margin-bottom: -4px;
	    border-radius: 8px 8px 0px 0px;
	}

	.r-post-imgs-right .r-imgs:nth-child(odd){
		border-radius: 0px 0px 0px 0px;
	}
	.r-post-imgs-right .r-imgs:nth-child(even){
		border-radius: 0px 0px 8px 8px;
	}

	/*Two uploaded pictures*/

	#II-Post-Imgs .r-imgs:nth-child(odd){
	border-radius: 8px 8px 0px 8px;
	}
	#II-Post-Imgs .r-imgs:nth-child(even){
		border-radius: 0px 0px 8px 8px;
	}
	/*Two uploaded pictures*/
	/*five uploaded pictures and more*/
	.more-pictures .r-imgs{
		border-radius:  0px 0px 8px 8px;
		filter: brightness(50%);
		 /*Safari 6.0 - 9.0 */
	    /*filter: blur(1px); grayscale(100%);*/
	}
	#V-Post-imgs .r-imgs:nth-child(1){
		border-radius: 8px 8px 0px 0px;
	}
	#V-Post-imgs .r-imgs:nth-child(2){
		border-radius: 0px;
	}
	#V-Post-imgs .r-imgs:nth-child(3){
		border-radius: 0px;
	}
	.abs-overlay{
		position: absolute;
		border-radius:  0px 0px 8px 8px;
		height: 277px;
		width: 207px;
		background-color: #33012e;
		opacity: 0.4;
		margin-left: -207px;
	}
	/*five uploaded pictures and more*/

	.user-photo{
		display: none;
	}
	.user-event{
		width: 200px;
	}
	.post{
		width: 224px;
	}
	#post-baker{
		width: 216px;
		margin-bottom: -5px;

	}
	.flash-render{
		font-size: 11px;
		width: 305px;
		color: #09212b;
	}
	.comment-post input[type="text"]{
		height: 34px;
	}
	.side-nav li.heading{
		margin: -4px 50px 4px 65px;
	}
	.side-nav li:not(.button) {
	    font-size: 9px;
	    font-weight: bold;
	    width: 100px;
	    padding-right: 10px;
	    display: inline-block;
	}
	.side-nav li a:hover{
		border-left: 1px solid gray;
	}
	.u-xs-s-menus {
    	margin-left: -3px;
	}
	#side-p{
		width: 224px;
		border-radius: 0px 0px 4px 4px;
	}

}
/*for phones having 320px */
@media (min-width: 299px) and (max-width: 320px){
	body{
		background-color:#c1c1c1;
		padding-top:55px;
		margin-left:-30px;
		font-size: 11px !important;
		overflow-x: hidden;
	}
	.container-customized{
		width: 318px;
	}
	.fixed-top{
		width: 320px;
	}
	.modal-dialog{
		width: 318px;
		margin: 1px;
	}
	.modal-body{
		padding: 4px;
	}
	
	textarea#p-content-text{
		height: 20px;
		font-family: normal;
	}
	.btn.btn-customized{
		width: 95px;
		margin-top: -27px;
		font-size: 12px;
	}
	.myStatus{
		font-size: 12px;
		height: 50px;
	}
	.btn-custom {
	    width: 80px;
	    font-size: 12px;
	}
	#smartchat-templates{
		display: none;
	}
	.nav-description{
		display: none;
	}
	.top-dropdown{
		display: none;
	}
	#notif-view{
		width: 300px;
		left: 2%;
	}
	.dropdown-menu{
		right: 0 !important;
	}
	/*all about the navbar*/
	.container{
		padding-right: 2px;
	}
	.u-xs-options{
		color: white;
		cursor: pointer;
		border-radius: 4px;
	}
	.u-xs-s-menus {
    	/*margin-left: -3px;*/
	}
	.t-uxs-menus{
		color: #efefef;
		font-weight: bold;
		
	}
	.toggle-menus >  i{
		transition: all 0.3s ease-in-out;
	}

	.mobx-nav-list{
	    color: #e0c2c2;
	    font-size: 13px;
	    cursor: pointer;
	}
	#psearch{
		display: none;
	}
	.navbar-toggle{
		display: none;
	}

	.navbar-inverse .navbar-brand{
		font-size: 15px;
	    margin-left: -13px;
	    margin-top: -5px;
	    margin-bottom: -35px;

	}
	/*all about the navbar*/
	#left-p{
		width:224px;
		height: 240px;
		font-family: 4px;
		border-radius: 0px;
		display: none;
	}
	.p-int .p-interaction {
		font-size: 11px;
	}
	span.p-interaction.p-comment {
    	width: 103px;
	}
	span.p-interaction.p-star{
		width: 93px;
	}
	span.p-interaction.p-share {
    	width: 93px;
	}

	input.msgSender{
		width: 200px;
	}
	.msg-header{
		width: 216px;
	}
	.msg-box-error{
		padding: 0;
		margin: 0;
		width: 150px;
	}
	span.dated{
		font-size: 11px;
	}
	.tags a{
		font-size: 11px;
	}
	.users-comments{
		padding:4px;
	}
	.users-comments .u-name{
		font-size: 10px;
	}
	.users-comments .comment-texts{
		font-size: 10px;
	}
	.msgs-lists{
		width: 216px;
	}
	#about{
		height: 40px;
	}

	
	#back{
		width: 216px;
	}
	.img{
		padding-left:40px;
		padding-top: 18px;
	}
	#main-p{
		background-color:#eae7e7;
		width:327px;
		padding:8px 0px 0px 8px;
		border-radius: 0px;
	}
	.right-menu{
		display: none;
		padding-left: 15px;
		width:250px;
		position: absolute;
		opacity: 0.8;
		margin-top: -30px;
	}
	#post-infos{	
		width: 316px;
		font-size: 11px;
	}
	.s-img{
		width: 400px;

	}
	.r-imgs{
		width: 150px;
	}
	.post-images {
		padding: 0px;
		width: 300px;
	}
	.post-contents-show{
		padding-left: 5px;
	}

	/*#IV-Post-imgs-left .r-imgs:nth-child(odd){
		border-radius:8px 8px 0px 0px; 
	}
	#IV-Post-imgs-left .r-imgs:nth-child(even){
		border-radius:0px; 
	}
	#IV-Post-imgs-right .r-imgs:nth-child(odd){
		border-radius:0px; 
	}
	#IV-Post-imgs-right .r-imgs:nth-child(even){
		border-radius:0px 0px 8px 8px; 
	}
	*/
	/*3 images*/
	
	.r-post-imgs-left .r-imgs {
	    width: 180px;
	    height: 400px;
	    border-radius: 8px 0px 0px 8px;
	}

	.r-post-imgs-right .r-imgs:nth-child(odd){
		border-radius: 0px 8px 0px 0px;
		height: 200px;
		width:120px;
	}
	.r-post-imgs-right .r-imgs:nth-child(even){
		border-radius: 0px 0px 8px 0px;

		height:200px;
		width: 120px;
	}

	/*Two uploaded pictures
	#II-Post-Imgs .r-imgs:nth-child(odd){
		border-radius: 8px 8px 0px 8px;
	}
	#II-Post-Imgs .r-imgs:nth-child(even){
		border-radius: 0px 0px 8px 8px;
	}*/
	/*Two uploaded pictures*/
	/*five uploaded pictures and more*/
	.more-pictures .r-imgs{
		border-radius:  0px 0px 8px 0px;
		filter: brightness(50%);
		 /*Safari 6.0 - 9.0 */
	    /*filter: blur(1px); grayscale(100%);*/
	}
	/*
	#V-Post-imgs .r-imgs:nth-child(1){
		border-radius: 8px 8px 0px 0px;
	}
	#V-Post-imgs .r-imgs:nth-child(2){
		border-radius: 0px;
	}
	#V-Post-imgs .r-imgs:nth-child(3){
		border-radius: 0px;
	}
	*/
	.more-pictures-text {
	    margin-top: 87px;
	    margin-left: -128px;
	    background-color: #1b0b2d;
	    cursor: pointer;
	    z-index: 2;
	}
	
	/*five uploaded pictures and more*/

	.user-photo{
		display: none;
	}
	.user-event{
		width: 200px;
	}
	.post{
		width: 327px;
	}
	#post-baker{
		width: 316px;
		font-size: 14px;
		margin-bottom: -2px;

	}
	#myProfile{
		padding-top: 8px;
		width: 327px;
	}
	.profile-opts{
		background-color: white;
	    padding: 5px;
	}
	.flash-render{
		font-size: 11px;
		width: 305px;
		color: #09212b;
	}
	.comment-post input[type="text"]{
		height: 34px;
		font-family: normal;
	}
	.side-nav li.heading{
		margin:50px 2px 15px 4px;
		font-size: 12px;
	}
	#l-side-menu{
		margin-top: 50px;
	}

	.side-nav li a:not(.button){
	    font-size: 12px;
	    font-weight: bold;
	    margin-left: 8px;
	    font-weight: bold;
	    width: 214px;
	}
	.side-nav li a:hover{
		border-left: 1px solid gray;
	}
	#side-p{
		width: 224px;
		display: none;
		border-radius: 0px 0px 4px 4px;
	}
	.MainProfileMenus{
		padding: 4px;
		width: 327px;
	}
	.user-identify-avatar{
		display: none;
	}
	.profile-menus{
		width: 320px;
		margin-top: -18px;
	}
	.profile-opts{
		width: 80px;
		font-size: 12px;
		line-height: 18px;
	}
	.btn.btn-customized-sm{
		width: 139px;
	}
	.container-fluid {
		padding-right: 8px;
		padding-left: 8px;
	}

	/*
	communities
	*/
	.community-banner{
		width: 323px;
		padding-left: 3px;
		margin-top: -5px;
	}
	.btn-community{
		width: 80px;
	}
	#community-image{
		font-size: 35px;
		padding: 55px 42px;
	}
	.community-menus .profile-opts{
		width: 81.5px;
		font-weight: bold;
	}
	.community-menus .profile-opts a{
		color:hsla(274, 58%, 6%, 0.9);
	}
	input[name="community-post-submit"]{
		line-height: 8px;
		padding: 4px;
		margin-top: -95px;
	}
	/*
	communities end */


}
@media(min-width: 150px) and (max-width: 321px){
	.p-star > i, .p-share > i, .p-comment > i{
		font-size: 11.5px;
	}

}

/*for phones having 320px <--End-->*/
#community-side-m.side-one{
	border-radius: 0px;
}
@media (min-width: 298px) and (max-width: 774px){
	#side-p{
		display: none;
	}
	.toggle-menus{
		display: inline-block;
	}
	
}
@media (min-width: 900px) and (max-width: 1500px){

	.p-star > i, .p-share > i{
		font-size: 15px;
	}
	.p-comment > i{
		font-size: 16px;
	}
	.toggle-menus{
		display: none;
	}
	.timeline-imgs img{
		padding-top: 4px;
		min-width: 350px;
		max-width: 350px;
	}
	
}
.left-one{
	background-color:#eae7e7;
	position: fixed;
}
.side-one{
	position: fixed;
	right: 30px;
}


#t-menu{
	margin-right: 90px;
	position: absolute;
}
