
/*for adapting */
body{
	min-width: 320px;
	
}
/*to avoid images,textareas and others to overflow*/
img, table, td, blockquote, code, pre, textarea, input, iframe,
object, embed, video {
	max-width: 100%;
}
@media (max-width: 320px){
	body{
		width: 320px;
		background-color:#c1c1c1;
		padding-top: 116px;
		margin-left:-10px;
		font-size: 11px !important;
		overflow-x: hidden;
	}
	#left-p{
		width:224px;
		height: 240px;
		font-family: 4px;
		border-radius: 0px;
	}
	.p-int .p-interaction {
		font-size: 8px;
		width: 55px;
	}
	span.p-interaction.p-comment {
    	width: 75px;
	}
	span.p-interaction.p-star{
		width: 65px;
	}
	span.p-interaction.p-share {
    	width: 61px;
	}

	input.msgSender{
		width: 200px;
	}
	.msg-header{
		width: 216px;
	}
	.msg-box-error{
		padding: 0;
		margin: 0;
		width: 150px;
	}
	span.dated{
		font-size: 11px;
	}
	.tags a{
		font-size: 11px;
	}
	.users-comments{
		padding:4px;
	}
	.users-comments .u-name{
		font-size: 10px;
	}
	.users-comments .comment-texts{
		font-size: 10px;
	}
	.msgs-lists{
		width: 216px;
	}
	#about{
		height: 40px;
	}

	
	#back{
		width: 216px;
	}
	.img{
		padding-left:40px;
		padding-top: 18px;
	}
	#main-p{
		background-color:#eae7e7;
		width:224px;
		padding-left:4px;
		border-radius: 0px;
	}
	.right-menu{
		display: none;
		padding-left: 15px;
		width:250px;
		position: absolute;
		opacity: 0.8;
		margin-top: -30px;
	}
	#post-infos{	
		width: 216px;
		font-size: 11px;
	}
	.s-img{
		width: 208px;
	}
	.r-imgs{
		width: 208px;
	}
	.post-images {
		padding: 2px;
		width: 230px;
	}
	.user-photo{
		display: none;
	}
	.user-event{
		width: 200px;
	}
	.post{
		width: 224px;
	}
	#post-baker{
		width: 216px;
		margin-bottom: -5px;

	}
	.flash-render{
		font-size: 11px;
		width: 216px;
		color: #09212b;
	}
	.comment-post input[type="text"]{
		height: 27px;
	}
	.side-nav li.heading{
		margin: -4px 50px 4px 65px;
	}
	.side-nav li {
	    font-size: 9px;
	    font-weight: normal;
	    width: 100px;
	    padding-right: 10px;
	    display: inline-block;
	}
	.side-nav li a:hover{
		border-left: 1px solid gra;
	}

}
#community-side-m.side-one{
	border-radius: 0px;
}
@media (min-width: 900px) and (max-width: 1500px){
	.left-one{
	background-color:#eae7e7;
	position: fixed;
	border-radius: 4px;
	width:239px;
	}
	.side-one{
		position: fixed;
		right: 30px;
		top: 61px;
		width:200px;
	}
}

#t-menu{
	margin-right: 90px;
	position: absolute;
}
