@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);
body{
	background-color:rgb(177, 175, 175);/*#c1c1c1*/
	background-attachment: fixed;
	background-opacity:0.4;
	padding-top:70px;
}
/*for body customization scrollbar*/
body::-webkit-scrollbar{
	width: 8px;
}
body::-webkit-scrollbar-thumb{
	border-radius:6px;
	background-color:#8e99a0;
}
/*for body customization scrollbar*/
.container-customized{
	width: 960px;
}
.navbar-inverse{
	background-color: #09212b;
	border-bottom: none;
}
#home{
	font-size: 20px;
}
.btn btn-primary{
	background-color:#191616;
}
/*change something about profile*/
.user-block-username,.user-block{
	font-family: sans-serif;
	font-size: 16px;
}
/* this belong Parsley js library for validation*/

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;
  color:darkred;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
/*codes belonging to parsley js library*/

/*-----------------Share code-------------------------------------*/
#main-content-share-code{
	background-color: #000;
	padding-top: 1em;
	padding-left: 8px;
	position: relative;
}
.tool-nav{
	position: absolute;
	top: 10px;
	right: 10px;
}
#code{
	font-family: "Source Code Pro",sans-serif;
	width: 100%;
	min-height: 400px;
	border:none;
	outline: none;
	background-color: #000;
	color:#c5c5c5;
	resize: none;
	font-size: 14px;
	overflow: hidden;

}
/*-----------------Share code-------------------------------------*/

/*-----------------Stylisation et pagination d'utilisateurs----------------------*/
.users{
	margin-bottom: 3em;
}
.user-block{
	text-align: center;
}
.user-block .avatar{
	margin:auto;
}
.myUsersSignUp{
	width: 550px;
	color: black;
	font-family: quantify;
}
#about{
	margin-bottom: 20px;
}
#about, #phone,#name{
	border-radius: 4px;
	border:none;
}
.Sign-Avatar{
	background-color: #bbbbbb;
	border-radius: 4px;
	padding-top: 4px;
}
.s-avatar{
	border:3px dashed #b5bbd8;
	cursor: pointer;
}
.S-instructions{
	text-align: justify;
	color: #09212b;
}
.SignUp-Cred{
	float: right;
}
.users-side-nav{
	color: #041258;
    padding-top: 2px;
    font-family: serif;
    width: 220px;
}
.c-badge-r{
	margin-top: -4px;
	margin-left: 10px;
	text-align: center;
	background-color: #9498ad;
	border-radius: 4px 2px 4px 2px;
	color: #eef2fc;
	font-family: cursive;
	font-size: 13px;
	padding: 2px;
	font-weight: inherit;
	width: 200px;
	word-break: break-all;

}
.user-contacts{
	margin-left: 10px;
}
.sign-custom-btn{
	background-color: #78909c;
	color: #c1c1c1;
	margin-top: 4px;
	border-radius: 4px;
}
/*This is about the left menu and other simular blocks*/

/*This is about the left menu and other simular blocks*/

/*-----------------Stylisation et pagination d'utilisateurs----------------------*/
/*-----------------microposts----------------------*/
.status-post{
	border: 1px solid #c7b2b3;
	border-radius: 4px;
	
}
.status-post textarea{
	border:none;
	background-color: #c7b2b3;
	resize: none;
	

}
.status-post textarea:focus{
	box-shadow:none;
}
.status-post-submit{
	border-top: 1px solid #c7b2b3;
	padding-top:20px;
	padding-bottom:12px;
	padding-right :10px;

}
.status-post-submit .btn{
	float: right;
	
}
.btn{
	margin-top:-15px;
}
/* for status*/
.status-media{
	border-radius: 4px;
	padding:10px;
	background-color: gray;	
	border: 1px solid gray;
	
}

#comment_post{
	resize: none;
}
.badge-im{
	border-radius: 50%;
}
.ideas{
	word-break:break-all;
	-moz-word-break:break-all;
	background-color: #777;
	border-radius: 10px;
	padding: 0;
	
}
/* for status*/

/*ab bc ac*/
/*for the users profile*/
.fix{
	width: 300px;
	height: 300px;
	background-color:white;
	padding:40px;
}
.user-avatar-md{
	border-radius: 100%;
	height: 100px;
	width:100px;
}

.user-avatar-xs{
	border-radius: 100%;
	height:35px;
	width:35px;
	border: 2px solid #afbcff;
}
.user-avatar-lu{
	border-radius: 100%;
	height:28px;
	width: 28px;
	border: 2px solid #afbcff;
}
/*for a given search*/
#search{
	background-color: #343535;
	border:none;
	border-radius:15px;
	width: 300px;


}
#search:focus{
	border: none;
	box-shadow: none;
}
#psearch{
	padding-top: 10px;
	padding-left: 50px;


}
/*for the users profile*/
/**/
input[type="text"]:focus,input[type="password"]:focus,input[type="email"]:focus{
	outline: none;
	box-shadow: none;
	border: 1px solid gray;
	color: gray;
	border-radius: none;
}
#show_results{
	width: 410px;
	height: 100px;
	overflow: scroll;
	position: fixed;
	background-color: #343535;
	border-right: 1px solid gray;
	border-left: 1px solid gray;
	border-radius: 5px;
	padding-left: 20px;
	color: white;
	display: none;
	
}
.show-user-box{
	border-bottom: 1px solid gray;
	height: 60px;
	font-size: 13px;
	position: relative;
}
.show-user-box a{
	text-decoration: none;
	color: white;
	display: block;

}
.show-user-box:hover a{
	color:black;
}
.show-user-box:hover{
	background-color: #293535;
	cursor: pointer;
	text-decoration: none;
}
/*profile*/

#user_banner{
	
	height: 150px;
	width: 100%;
	background-color: #251b1b;
	background-blend-mode: saturation;
	padding-top: 7px;

}
#user_profile{
	width: 100%;

}

.user-banner-avatar{
	padding-left: 55px;
}


.group{
	border-radius: 5px;
	padding: 4px;
	width:270px;
	box-shadow: inset 2px -1px 1px 2px #b3aaaa;
}
#u_middle{
	width: 570px;
	box-shadow: inset 1px -1px 1px 2px #b3aaaa;
}
.p-heading{
	background-color: #191616;
	padding: inherit;
	border-radius: 5px;
	color: white;
}
.padd{
	border-bottom: 1px solid gray;
}

.side-nav li.heading {
    color: #3c3254;
}


/*for my good messages*/
#contentm{
	resize: none;
	border: 1px solid #c7b2b3;
	box-shadow:none;
}
#contentm :focus{
	border:none;
	box-shadow:none;
}
.sender{
	padding: 9px;
	background-color:#707098;
	width: 450px;
	border-radius: 15px;

}
.spseudo{
	font-weight: bold;
	font-family: cornopop;

}
.rpseudo{
	font-weight: bold;
	font-family: cornopop;
}

.pseudov{
	color:#dedede;
}
.receiver{
	padding: 9px;
	background-color:#55555d;
	width: 400px;
	border-radius: 15px;;
}
#prmessage, .receiverbox{
	padding-left: 100px;
}
/*Cake services app */
#panel-content-container{
	display: none;
}
.b{
	font-weight: bold;

}
#email, #password{
	font-family: cursive;
    background-color: beige;
    border-radius: 4px;
    border:none;
    color: black;
}
#email:focus, #password:focus{
	border: none;
}
.panel{
	padding: 15px 2px 2px 2px;
	font-family: quantify;
	color: #583f3f;
    font-weight: bold;
    display: none;

}
.smartchat-infos{
	margin-top: 60px;
	background-color: #bbbbbb;
	border-radius: 4px;
	padding: 4px;
	font-family: quantify;
	text-align: center;
}
.rm-box{
	text-align: center;
}
/*for the pictures shown on home*/
.connect-people{
	
}
.people-pictures{
	width: 500px;
	display: none;
}
.s-picture{
	padding: 2px;
	width: 150px;
	height: 206px;
	display: inline-block;
}
.s-picture img{
	width: 200px;
	border-radius: 4px;
	height: 200px;
}
/*for the pictures shown on home*/
.myLogonTab{
	margin-top: 60px;
}
#myLogonTab{
	height: 300px;
}

.log-control{
	font-family: cursive;
    background-color: beige;
    border-radius: 4px;
}
.logon-box{
	background-color: #e4e4e4;
	border-radius: 4px 4px 0px 0px;
	text-align: center;
	padding: 8px;
	margin-left: 14px;
	margin-right: 15px;
}
.l-flash{
	font-size: 14px;
}

.login-title{
	font-family:quantify; 
	font-size: 26px;
	color: #09212b;
	line-height: 25px;

}
.login-bd{
	margin-top: -30px;

}
.login-box{
	width: 300px; 
	margin-top:2px;
}
/*carousel*/
#left-p{
	background-color:#eae7e7;
	padding-left: 4px;
	border-radius: 4px;
	width:239px;
}
#main-p{
	background-color:#eae7e7;
	width:494px;
	padding-left:4px;
	border-radius: 4px;
	padding-bottom: 20px;
}

#side-p{
	background-color:#eae7e7;
	padding:4px 4px 4px 4px;
	border-radius: 4px;
	font-family: cursive;
	font-size: 12px;
	font-weight: bold;
}
/*customization of the side block*/
.right-menu{
	float: right;
	padding-left: 20px;
	width:230px;
}
/*customization of side block*/
#side-p a{
	color:#8e98a0;

}
.side-title{
	padding: 4px;
    display: block;
    font-family: verdana;
    background-color: #8e91a0;
    border-radius: 4px 4px 0px 0px;
}
.fix{
	width:150px;
	height:150px;
	vertical-align: center;
}
.user-event{
	padding-top: 4px;
	padding-bottom: 4px;

}
.flash{
	font-weight: bold;
	font-family: Anidore;
	text-align: center; 
}
.message.error{
	color: #ff4e4e;;
	font-style: italic;
    font-family: unset;

}
.error-message {
    color: #ff8080;
    font-size: 12px;
    font-family: cursive;
    font-weight: bold;
}
.message.success{
	color: #ffbaba;
	text-shadow: 1px 5px 3px purple;
}
.flash-render{
	font-family:quantify;
	font-size: 16px;
	font-weight: bold;
	text-align: justify;
	background-color: #8e91a0;
	width: 486px;
	padding: 4px;
	border-radius: 4px;
}
.chat-box{
	position: fixed;
	bottom: 0;
	right:0;
	margin: 20em 5em 0.1em 0;
	width:200px;
	height:24px;
	opacity: 0.9;
	border:1px solid grey;
	border-radius:4px 4px 0 0;
	display: none;
}
.user-online{
	cursor: pointer;
}
.chat-box:hover{
	opacity: 1;
	
}
.chat-box-header{
	cursor: pointer;
	background-color: #9d91a0;
	color:white;
	font-family: quantify;
	font-weight: bold;
	padding: 2px;
}
.chat-contents{
	background-color: #fafafa;
	height:140px;
	padding: 4px;

}
.msgBox{
	resize: none;
	font-family: quantify;
	font-weight: bold;
}
.msgBox:focus{
	box-shadow: none;
	border:1px solid #ccc;
}
.uploader{
	width: 50px,
	height:50px;
}
/*avatar*/
#actions-sidebar{
	padding-top: 4px;
}
#profile-box{
	height:300px;
	width:58em;
}
#profile-user-box{
	height:300px;
	width:120em;
}
#back{
	background-color:#8e91a0;
	width: 231px;
	height:75px;
	border-radius: 4px;
}
.img-user{

	border: 3px solid #eae7e7;
}
.img-user-b{
	padding-left:10px;
	padding-top: 30px;
}
.img{
	padding-left:49px;
	padding-top: 18px;
}
.img-user-b,.optionsp
{
	margin-top:9px;
}
#people{
	background-color: white;
	border-radius: 0px 0px 4px 4px;
	padding-top: 3px;
	padding-right:1px;
	padding-left: 6px;
	padding-bottom: 2px;
}
#side-menu{
	padding-bottom: 3px;

}
.ajaxConfirm{
	padding-right:4px;
}
.status{
	font-size: 11px;
    color: #da7c9a;
    font-family: serif;
    float: right;
    padding-right: 4px;
    margin-top: 12px;
}
#invitations{
	background-color: white;
	border-radius: 0px 0px 4px 4px;
	padding-top: 3px;
	padding-right:1px;
	padding-bottom: 2px;
}
#people a{
	color: #8e98a0;
	font-size: 14px;
	float: right;
	padding-top: 8px;
	padding-right: 4px;
}
#people a:hover{
	text-decoration: none;
}
.b{
	font-weight: bold;
}

.upload{
	width: 150px;
	height: 30px;
	background-color:gray;
	border: 3px solid gray;
	border-radius:50px;
	cursor: pointer;
}
.up{
	vertical-align: center;
	width: 25px;
	font-family: quantify;
	font-weight: bold;
}
.uploader{
	height: 35px;
	padding-left: -30px;
	opacity: 0;
	position: absolute;
	padding-top: 12px;
	cursor: pointer;
}

/*For notifications*/

.notif-nbr{
	background-color: #9d9d9d;
	padding: 8px;
	position: absolute;
	margin-top: -10px;
	margin-left: 6px;
	font-size: 12px;
	font-family: fantasy;
	color: #09212b;
	border: 2px solid #09212b;
	border-radius: 50%;
	line-height: 7px;
	height: 25px;
	
}

a:hover{
	text-decoration: none;
}
.postfile{
	
}
.s-name{
	font-family: fantasy;
	font-size: 23px;
}
.post-validator{
	background-color:#9d91a0;
	border: none;
	float: right;
}
.post-validator:hover{
	background-color:#9d91a0;
}
.post-title{
	padding: 5px;
	background-color:#9d91a0;
	border-radius: 4px 4px 0px 0px;
	font-family: verdana;
	cursor: pointer;
}
.post{
	padding-bottom: 4px;
}
#post-baker{
	background-color: white;
	padding:4px 4px 19px 8px;
	width: 486px;
	border-radius:4px 4px 0px 0px;
}
.content{
	background-color: #f5f5f5;
	font-family: fantasy;
	resize: none;
	border-radius: 0px 4px 4px 4px;
	border: none;
}
.content:focus{
	outline:none;
	border:none;
}
.m-counts{
	background-color: #9d9d9d;
	padding: 8px;
	position: absolute;
	margin-top: -10px;
	margin-left: 6px;
	font-size: 12px;
	font-family: fantasy;
	color: #09212b;
	border: 2px solid #09212b;
	border-radius: 50%;
	line-height: 7px;
	height: 25px;
}
#notif-view{
	background-color:#eae7e7;
	border: 1px solid #9d91a0;
	font-family: cursive;
	width:250px;
	height: 250px;
	top:63px;
	display: none;
	right:80px;
	position: absolute;
	border-radius: 2px;
	padding: 4px;
	overflow-x: hidden;
	overflow-y: scroll;

}
#notif-view::-webkit-scrollbar{
	width: 6px;
}
#notif-view::-webkit-scrollbar-thumb{
	border-radius:12px;
	background-color:black;
}
.notif-lst{
	background-color: #d4ced6;
	padding: 4px;
	border-radius: 2px 2px 10px 2px;
	margin-bottom: 2px;
	display: block;
}
.divide{
	color:red;
	background-color: red;
	width: 100px;
	height: 5px;

}
/*new modifications related to smartchat after something occurence*/
/*post-modal*/
#poster-modal{
	padding-top: 100px;
	border-radius: 4px;

}
.modal-title{
	font-family: fantasy;
}
.post-opts{
	background-color: #9d91a0;
	padding: 4px 4px 4px 4px;
	border-radius: 4px;

}
.post-text{
	font-size:16px;
	font-family: sans-serif;
	text-align: justify;
	text-shadow: 1px 0px 0px gray;
	word-break: break-all;

}
.submit-b{
	background-color:#8e91a0;
	border: none;
	border-radius: 4px;
}
.edit-b{
	margin-bottom:12px;
}
.submit-b:hover{
	background-color:#8e91a0;
}
.submit-b:focus{
	background-color:#8e91a0;
}
#post-options{
	padding: 5px;
}
.post-opts-bdg{
	background-color:#efefef;
	padding: 6px;
	color: black;
	border-radius: 18px;
	cursor: pointer;
}
.append-info{
	padding: 4px;
}
.privacy-infos, .tag-infos{
	display: none;
	font-size: 14px;
	font-family: sans-serif;
}
.privacy-infos{
	padding: 5px 25px;

}
.tag-infos{
	padding: 5px 25px;
}
/*post-modal*/
/*post uploader input type*/
input[type ="file"]::-webkit-file-upload-button{
	
	color: white;
	background-color:#8e91a0;
	font-family: fantasy;
	box-shadow: none;
	width: 6px;
}
input[type="file"]{
	background-color:#8e91a0;
	font-family: fantasy;
	width: 23px;
	opacity: 0;
}
.newCl{
	margin-top: 40px;
    text-align: center;
    font-family: cursive;
}
.data-avatar-img-update{
	border-radius: 100%;
}
.upl-button, .avatar-update{
	position: absolute;
}
.upl-button{
	top: 180px;
	text-shadow: 4px 4px 15px #c2c6ca;
	font-weight: bold;
}
.picture-uploader{
	width: 25px;

}
.img-transfer .uploader-text{
    font-family: verdana;
	font-size: 14px;
	padding-top: 15px;
	text-align: center;
	width: 159px;
	color: #000000;
	
}
.img-transfer .uploader-text-e{
	font-family: verdana;
	font-size: 14px;
	padding-top: 40px;
	text-align: center;
	width: 159px;
	color: #000000;
}
.uploadAvatar{
	display: none;
}
.img-transfer{
	padding: 4px;
}
.img-upload{
	
	position: absolute;
}
.img-preview{
	padding: 4px;
}
/*post uploader input type*/
/*new modifications related to smartchat after something occurence*/
/*badge customization*/
.badge-custom{
	display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 14px;
    font-weight: bold;
    font-family: verdana;
    line-height: 2;
    color: #eef2fc;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    background-color: #9498ad;
    border-radius: 10px;
}
.upl-block{
	padding: 4px 4px 4px 8px;
}
.avatar-update{
	width:170px;
	height: 170px;
	background-color: #9498ad;
	border-radius: 4px;
	border:2px solid #9498ad;
	cursor: pointer;
}
/*badge customization*/
.userAvatar{
	height: 166px;
	border-radius: 100%;

}
.upload-validate{
	width: 170px;
	height: 30px;
	padding: 4px 4px 4px 4px;
	text-align: center;
	float: center;
	position: absolute;
	background-color: #090d21;
	color:#eef2fc;
	font-family: cursive; 
	opacity: 0.8;
	cursor: pointer;
	display: none;

}
.submAv{
	display: none;
}
/* <<--Begining-->> all about users posts right here <<--Begining-->>*/
#post-infos{	
	width: 486px;
}
.post-images {
	padding: 2px;
	width: 486px;
}
.poster-text{
	font-family: quantify;
	/*padding: 4px;*/
}
.poster-text a{
	color: #8a90ad;
	font-weight: bold;
	padding: 4px;
	background-color: #f7f7f7;
	border-radius: 4px;
	

}


.poster-text a:hover{
	background-color: #e0dcdc;
	cursor: pointer;
	border-radius: 4px;
	text-decoration: none;
	
}

.r-imgs{
	width: 239px;
	border: 1px solid #8e91a0;
	border-radius: 4px;
	display: inline-block;
	background-blend-mode: overlay;
}
.s-img{
	width: 478px;
	border-radius: 4px;
	border: 1px solid #8e91a0;

}
.post-lists{
	padding-bottom: 4px;
	
}
.t-post-lists{
	background-color: white;
	padding: 2px 2px 2px 2px;
	border-radius: 4px 4px 0px 0px;
}
span.dated{
	font-family: monospace;
	font-weight: bold;
	font-size: 14px;
}
.post-content-text{
	text-align: justify;
	padding: 4px;
}
.tags a{
	color: #8a90ad;
	font-family: cursive;
	font-size: 15px;

}
.tags a:hover{
	text-decoration: none;
}
i.sub{
	font-size: 12px;
	color: #da7c9a;
	cursor: zoom-in;

}
.sub-tags{
	display: none;
	margin-top:-55px;
	width: 100px;
	max-height: 200px;
	color: black;
	border-radius: 4px;
	background-color: #e4e7f9;
	padding: 4px;
	opacity: 0.9;
}
/*Posts interactor bar*/
.posts-interaction-bar{
	padding: 4px 2px 4px 2px;
}
.p-int{
	
}
.p-interaction{
	cursor: pointer;
	width: 11.1em;
	display: inline-block;
}
.p-int .p-interaction{
	background-color:#e8e3e3;
	color: #8a90ad;
	font-weight: bold;
	font-family: quantify;
	font-size: 14px;
	text-align: center;
	line-height: 27px;
	border-radius: 4px;
}
.comment-post{
	padding-top: 6px;
}
.comment-post input[type="text"]{
	border-radius: 6px 0px 6px 0px;
	font-family: cursive;
	margin: 0 0 0em 0;
}
.comment-post input[type="text"]:focus{
	border:1px solid #e8e3e3;
}
.comment-post{
	display: none;
}
span.post-erroneous {
    color: #ff4b4b;
    font-weight: bold;
    font-family: monospace;
}
.post-comments-list{
	padding: 4px;
	background-color: #f9f8f8;
	max-height: 500px;
	border-radius:0px 0px 4px 4px;
	text-align: justify;
}
.comments-info{
	display:flex;
	flex-flow:row wrap;
	align-items:flex-start;
}
.users-comments{
	background-color: white;
	padding: 6px 6px 6px 6px;
	border-radius: 15px;
	word-break: break-all;
	font-family:cursive;
	font-size: 14px;
	margin: 2px 3px 0;
	max-width:91%;	

}
.side-nav li a:not(.button){
	padding: 1px;
	color: #041258;
}
.side-nav li a:not(.button):hover{
	color: #041258;
	border-left: 4px solid #8e91a0;
}

.users-comments .u-name{
	color: #8a90ad;
	font-family:quantify;
	cursor: pointer;
}
.user-photo{
	margin-bottom:2px;
	margin-right: -2px;
}
.user-comment{
	width:65%;
}
/* <<--End-->> all about users posts right here above <<--End-->>*/

/*Beginning of the users messages lists all about users messages */
.messages-header{
	background-color: #8e91a0;
	margin: 4px 4px 4px 0px;
	font-family: quantify;
	font-size: 16px;
	padding: 2px;
	border-radius: 4px 4px 0px 0px;
}
.msg-header{	
	height: 50px;
	background-color: #8e91a0;
	padding: 4px;
	width: 486px;
	border-radius: 4px 4px 0px 0px;
	font-family: quantify;
}
.msgs-lists{
	background-image: url('/img/messages3.jpg');
	overflow-x: hidden;
	overflow-y: scroll;
	width: 486px;
	height: 525px;
	padding: 2px;
	font-family: cursive;
}
.msgs-lists::-webkit-scrollbar{
	width: 5px;
}
.msgs-lists::-webkit-scrollbar-thumb{
	border-radius:6px;
	background-color:#8e99a0;
}
.Messages-opts{
	padding-top: 4px;
	
}
.MsgInputBox{
	width: 460px;
}
input.msgSender{
	border-radius: 0px 0px 4px 4px;
	font-family: cursive;
	font-size: 15px;
	box-shadow: none;
	border:none;
	margin-bottom:0;
	margin-left: 0;
}
input.msgSender:focus{
	border:none;
	box-shadow: none;
}
.nav i.fa{
	color:#4e5e69;
}
.MsgInputBox,.custFsub{
	display: inline-block;
}
.fSender{
	color:#e9a49d;
	cursor: pointer;
}
.msg-box-error {
    background-color: #fafbfc;
    border: 1px solid #f3c7d5;
    padding: 4px;
    display: none;
    color: #da7c9a;
    border-radius: 8px 0px 8px 0px;
    font-family: monospace;
    margin-left: 20px;
}


.connect-status{
	background-color: #e9a49d;
	border:2px solid #efefef;
	border-radius: 50%;
	padding: 5px;
	position: absolute;
	margin-top: 20px;
	margin-left: -12px;
}
.list-user-friends a{
	color: #1f2752;
}
.list-user-friends a:hover{
	text-decoration: none;
	color: #1f2752;
}
.userFriend{
	font-family: quantify;
	margin-bottom: 4px;
	margin-right: 4px;
	background-color: #efefef;
	padding: 2px;
	border-radius: 0px 4px 0px 8px;
}

.users-messages{
	display:flex;
	flex-flow:row wrap;
	align-items:flex-start;
}
.users-messages .u-name{
	color: #8a90ad;
	font-family:quantify;
	cursor: pointer;
}
.me{
	right:0;
	float: right;
	width: 450px;

}
.myFriend{
	width: 450px;

}
.myFriend .user-message{
	padding: 6px 6px 6px 6px;
	border-radius: 15px;
	word-break: break-all;
	font-family:cursive;
	font-size: 14px;
	margin: 2px 3px 2px;
	max-width: 400px;
	
}
.myFriend .user-message .message-text.m-content{
	max-width: 400px;
}
.me .user-message .message-text{
	background-color: white;
	padding: 6px;
	border-radius: 15px;
	float: right;
	word-break: break-all;
	font-family:cursive;
	font-size: 14px;
	margin: 2px 3px 2px;

}
.u-name{
	color: #8a90ad;
	font-family:quantify;
	cursor: pointer;
}
.myFriend .user-message{
	background-color: #bdbdbf;
}
.myFriend .user-message .message-text .u-name{
	color: #1f2752;
}

/**/
.new-m{
	font-family: cursive;
	font-size: 12px;
}
.c-unread-m{
	float: right;
	padding: 4px;
	margin-top: 5px;
	color: #efefef;
	font-size: 12px;
	background-color: #e9a49d;
	border-radius:4px;
}
/*profile page related*/
.users-details{
	background-color: #9498ad;
	width: 230px;
	padding: 4px;
	color: #eef2fc;
	border-radius: 4px 4px 0px 0px;
	font-size: 14px;
    font-weight: bold;
}
.c-on{
	color: #a01ea0;
}
.user-banner{
	padding: 4px 4px 4px 0px;
}
.profile-user-banner{
	background-image: -webkit-linear-gradient(to bottom,#a01ea0,#e2e2e2);
	background-image: -moz-linear-gradient(to bottom,purple,#e2e2e2);
	background-image: -o-linear-gradient(to bottom,purple,#e2e2e2);
	background-image: -ms-linear-gradient(to bottom,purple,#e2e2e2);
	background-image: linear-gradient(to bottom,#a01ea0,#e2e2e2);
	
	/*box-shadow: 0px 2px 1px #9498ad;*/
	height: 100px;
	width: 486px;
	padding: 4px;
	border-radius: 4px 4px 0px 0px;
}
.user-avatar-banner{
	width: 150px;
	height:180px;
	border-radius: 100%;
}
.profile-menus{
	padding-left: 189px;
	font-family: quantify;
	font-size: 16px;
	padding-bottom: 65px;
	text-decoration: blink;

}
.user-informations{
	text-align: justify;
	padding-right: 4px;
    

}
.profile-opts{
	padding-right: 1px;
}
.profile-opts a{
	color: #571e61;
	background-color: #cacaca;
	border-bottom: 3px solid white;
    padding: 4px;
    border-radius: 0px 0px 4px 4px;
}
.profile-opts a:focus{
	text-decoration: none;
}

.u-inf-title{
	font-family: quantify;
	color:#571e61; 
	background-color: #cacaca;
	border-bottom: 4px solid white;
	padding: 4px;
	text-align: center;
	border-radius: 4px 4px 0px 0px;
	
}

.u-s-avatars{
	padding-left:17px;
	background-image: linear-gradient(to right, white,#cacaca,white);
}
.list-friends{
	background-image: #cacaca;
	padding-top: 2px;
	padding-left: 17px;
}
.user-card-avatar{
	width: 110px;
	height: 110px;
	border-radius: 100%;
}
.user-card{
	padding-top: 4px;
	color:#571e61;
}
.user-card a{
	color:#571e61;
}
.user-card a:hover{
	color:#571e61;
}
.u-card-name{
	text-transform: capitalize;
}
.user-friend-box{
	background-color: white;
	border-radius: 4px;
	width: 150px;
	height: 150px;
	padding: 2px;
	margin-bottom: 2px;
	margin-right: 2px;
	display: inline-block;
	font-family: quantify;
}
/*profile page related*/

/*End of the users messages end of the users messages */
/*Profile Edition*/
.w-spine{
	padding-left:180px;
}
div#profile-edition{
	background-color:#b5b5b5;
	border-radius: 4px;
	font-family: quantify;
	overflow:hidden;
	width: 700px;
	height: 490px;
	margin-top: 20px;
	float: right;
}
#left-side-advices{
	width: 250px;
	text-align: justify;
	font-family: quantify;
	color: #2f0e2f;
	word-break: break-all;
}
/*customization of the next and prev box*/
.block-adds-one{
	padding-top: 85px;
}
.Notify-changes{
	display: none;
	font-size: 19px;
}
.btn-control-custom{
    color: #fff;
    width: 55px;
    padding: 8px;
    display: inline;
    background-color: #9498ad;
    border-radius: 4px;
    border: 2px solid white;
    color: white;
    cursor: pointer;
}
.btn-control-custom a{
	color: white;

}
.submit-btn-edit{
	margin-top: 25px;
}
.right-s{
	margin-left:290px;
}
select{
	width: 60px;
	display: inline;
}
select[name="user_dob[month]"]{
	width: 85px;
}
.last-edit-block{
	display: none;
}
#about{
	resize: none;
}
/*Customization of the next and prev box*/

/*Profile Edition*/